@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 10px;
}

/* scrollbar Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(170 170 170 / 0.5);
}

.ant-image-preview-img {
  height: 80% !important;
  position: absolute !important;
  top: 10% !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
}
