@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg;
  }

  header {
    @apply text-white;
  }
  p {
    @apply my-0 !important;
  }

  .reset *,
  .reset ::before,
  .reset ::after {
    all: revert;
  }

  .reset a {
    @apply text-[rgb(22,125,220)] no-underline hover:text-[rgba(22,125,220,0.8)] transition-all duration-300;
  }
}

@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 14px;
  background-color: #3a3b3c;
}

body::-webkit-scrollbar-thumb {
  background: rgb(110 110 110);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(110 110 110 / 0.5);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(110 110 110);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(110 110 110 / 0.5);
}

svg {
  vertical-align: baseline !important;
}

.ant-empty-description {
  color: #d2d9d9;
}

.scrollbar {
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.scrollbar:hover {
  -webkit-mask-position: left top;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 border-gray-200 hover:border-gray-300 transition-all duration-300 text-black !important;
}

.ant-image-preview-img {
  height: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ant-select-multiple .ant-select-selector {
  border-radius: 0.5rem !important;
}

.ant-modal-content {
  border-radius: 0.9rem !important;
}

.multiline-truncate-content,
.multiline-truncate-title,
.multiline-truncate-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.multiline-truncate-title {
  -webkit-line-clamp: 2;
}

.multiline-truncate-name {
  -webkit-line-clamp: 1;
}

@media screen and (max-width: 639px) {
  .multiline-truncate-content {
    display: none;
  }
}

.tox-tinymce {
  border: 0 !important;
  border-radius: 0 !important;
}

.tox-editor-container {
  overflow: hidden !important;
}

.tox-statusbar,
.tox-sidebar,
.tox-menubar,
.tox-promotion,
.tox-editor-header,
.tox-dialog-wrap__backdrop--opaque,
.tox-pop__dialog,
.tox-toolbar__overflow,
.tox-toolbar,
.tox-toolbar__primary,
.tox-toolbar-overlord,
.tox-toolbar__overflow,
.tox-collection--list,
.tox-collection--horizontal,
.tox-comment__overlay,
.tox-dialog__header,
.tox-dialog__footer,
.tox-dialog,
.tox-menu,
.tox-listbox--select {
  background-color: #0c132c !important;
}
