@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  margin: 10px 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 10px;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(170 170 170 / 0.5);
}

.ant-image-preview-img {
  height: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tox .tox-tooltip__body .tox.tox-tinymce-aux .tox-toolbar__overflow {
  background-color: black !important;
}

.ant-select-multiple .ant-select-selector {
  border-radius: 0.5rem !important;
}

.ant-modal-content {
  border-radius: 0.9rem;
}

.multiline-truncate-content,
.multiline-truncate-title,
.multiline-truncate-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.multiline-truncate-title {
  -webkit-line-clamp: 2;
}

.multiline-truncate-name {
  -webkit-line-clamp: 1;
}

@media screen and (max-width: 639px) {
  .multiline-truncate-content {
    display: none;
  }
}
